<?php

define('__CONFIG_NM_DB_CONNECT__', 'mysql://dbuser:dbpass@dbhost/dbname');
define('__CONFIG_NM_HOST__', 'localhost/'); // website should be in root directory, no subdirectories as localhost/noiymap/ allowed
