.nm-Favorites-add,
.nm-Favorites-remove {
    width: 0;
}

.nm-Head-inner,
.nm-Slider-inner,
.nm-Content-inner,
.nm-Footer-inner {
    width: 94%;
}

.nm-Place-right,
.nm-User-right {
    width: auto;
    float: none;
    margin-top: auto;
}

.nm-Place-right {
    margin-top: 20px;
}

.nm-Place-left,
.nm-User-left {
    margin-right: auto;
}

.nm-Place-title,
.nm-User-title {
    margin-right: auto;
    border-bottom: none;
    padding-bottom: 10px;
}

.nm-Post {
    padding-bottom: 10px;
}

.nm-Post-column {
    margin-right: 0;
    min-height: 0;
}

.nm-Post-info {
    position: relative;
    top: auto;
    right: auto;
    width: auto;
    padding: 10px 0 0 5px;
    overflow: auto;
}

.nm-Post-info li {
    float: left;
    margin-right: 20px;
}

.nm-Search {
    position: absolute;
    z-index: 10;
    width: 80%;
    left: 10%;
    top: 62px;
    margin: 0;
}

.nm-Links-post {
    padding: 0;
    width: 30px;
}

.nm-Links-post span {
    display: none;
} 
